.container{
  height: 100%;
}
.content{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.me{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.text{
  flex: 2;
  text-align: justify;
  color: #e0e0e0;
}

.img-svg{
  flex: 3;
  display: flex;
  justify-content: center;
  height: 450px;
  width: 450px;
}

.about{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #454a52;
  border-radius: 3px;
  color: #e0e0e0;
  margin-top: 140px;
  margin-bottom: 120px;
}


.left{
  border-right: solid 5px #2c2d2e;
  padding-right: 70px;
  padding-left: 10px;
  text-align: justify;
}

.left img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: -150px;
  margin-bottom: 20px;
  margin-left: 40px;
  border: 8px solid #454a52;
}

h4{
  padding-left: 85px;
}

h6{
  padding-left: 85px;
}



.right{
  padding-right: 50px;
  padding-left: 50px;
  text-align: justify;
}

strong{
  color: #FF7560;
}

h2{
  padding-bottom: 10px;
}



h3{
  margin-bottom: 30px;
}

.tecnologias{
  text-align: center;
  color: #e0e0e0;
}

.stack{
  text-align: center;
  padding: 10px;
  border-top: 1px solid grey;
  max-width: max-content;
  margin-bottom: 30px;
}

.study{
  text-align: center;
  color: #e0e0e0;
}

.development{
  text-align: center;
  padding: 10px;
  border-top: 1px solid grey;
  max-width: max-content;
  margin-bottom: 30px;
}


.progress{
  display: flex;
  align-items: center;
  flex-direction: column;
}
