<div class="footer">
  <div class="footer-links">

    <a href="https://github.com/pvbazilio"><i class="fab fa-github fa-lg"></i></a>
    <a href="https://www.instagram.com/pvbazilio/"><i class="fab fa-instagram fa-lg"></i></a>
    <a href="https://www.linkedin.com/in/paulobazilio/"><i class="fab fa-linkedin fa-lg"></i></a>
    <a href="mailto:pvbazilio@gmail.com"><i class="fa-solid fa-envelope fa-lg"></i></a>

  </div>
  <div class="footer-copyright">
     Software Engineer  <i class="fa-solid fa-laptop-code"></i>
  </div>
</div>
