<div class="container">
      <div class="me">
        <div class="text">
        <h2 class= "titulo">Olá, eu sou o Paulo!</h2>
          <p> Full-Stack Web Development </p>

          <a href="Curriculo Paulo Bazilio.pdf" download="Curriculo Paulo Bazilio.pdf"  type="application/pdf" class= "btn btn-danger">Download CV
            <i class="fa-solid fa-cloud-arrow-down"></i>
          </a>
          <a href="mailto:pvbazilio@gmail.com" class="btn btn-outline-danger">Fale comigo
            <i class="fa-solid fa-envelope"></i>
          </a>

        </div>
        <div class="img-svg">
          <img src="<%= asset_path('Coding-bro.svg') %>" alt="Binary-code-svg">
        </div>
      </div>


      <div class="about" >
        <div class= "left">
            <img src="https://avatars.githubusercontent.com/u/96881499?v=4">
          <h4>Paulo Bazilio</h4>
          <h6> pvbazilio@gmail.com</h6>
          <h6>(21) 96530-3790</h6>
          </div>
        <div class="right">
          <div class="about-me">
            <h2>Sobre <strong>mim</strong></h2>
            <p>Carioca, 28 anos, apaixonado por tecnologia. Após mais 10 anos de experiência na área de TI resolvi encarar mais um desafio e participar do bootcamp de desenvolvimento web da Le Wagon e me tornar um Desenvolvedor. Sou uma pessoa proativa, com facilidade de comunicação e de trabalhar em
                equipes multidisciplinares.</p>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="tecnologias">
          <h3>Tecnologias</h3>
        </div>
        <div class= "stack">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-plain.svg" width=80/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-plain-wordmark.svg" width=80/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" width=80/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain-wordmark.svg" width=80/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain-wordmark.svg" width=80/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" width=80 />
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" alt="scss" width="80"/>
        </div>

        <div class="study">
          <h3>Em desenvolvimento</h3>
        </div>
        <div class="development">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" width=80 />
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" width=80/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" width=80/>
        </div>
    </div>
</div>
