.navbar-lewagon {
  justify-content: space-between;
  background: #6e7073;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link{
  color: #e0e0e0;
}

.nav-item>li>a{
  color: #e0e0e0;
}
